* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: rgb(2, 2, 2);
  color: white;
  overflow-x: hidden;
}
button {
  cursor: pointer;
}
button:active {
  transform: translateY(-3px);
}
.header {
  width: 100%;
  height: 7vh;
  background: rgb(8, 7, 7);
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .Super__header {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .Input__header {
    border: solid 1px rgb(31, 31, 31);
    background: rgb(19, 17, 17);
    border-radius: 0.7vw;
    height: 80%;
    padding: 0.3vw 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
      outline: none;
      background: none;
      border: none;
      color: white;
      width: 15vw;
    }
    img {
      background: none;
    }

    img:hover {
      background: rgb(59, 59, 59);
      border-radius: 50%;
    }
  }
  .nav {
    display: flex;
    gap: 2rem;
    a {
      color: white;
      text-decoration: none;
    }
  }
}
.mains {
  width: 100vw;
  height: 60vh;
  position: relative;
  margin-top: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.principais__jogos {
  width: 90%;
  height: 90%;
  position: relative;
  border-radius: 20px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }
}
.Conteudo__principal {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.158);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  position: relative;
  z-index: 10;

  button {
    padding: 0.7vw;
    border: solid rgb(32, 31, 31) 1px;
    background: rgb(8, 8, 8);
    color: white;
    border-radius: 0.4vw;
  }
  h2 {
    font-size: 3vw;
    width: 40vw;
  }
  .button1__principal {
    background: blueviolet;
    border: none;
  }
  .principal__descrissao {
    display: flex;
    gap: 2vw;
  }
  .destaque {
    background: rgba(74, 23, 121, 0.8);
    width: 15vw;
    border-radius: 1vw;
  }
  p {
    font-weight: 300;
  }
}
.MINI__titulo__genero {
  width: 100%;
  height: 5vh;
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;

  .Titulo__genero {
    width: 90%;

    h2 {
      font-size: clamp(1rem,1.5vw, 2.5rem);
    }
  }
}
.Jogo__nome {
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .jogos__Sem__sessao {
    width: 90%;
    height: 100%;
  }
  h2 {
    font-size: clamp(1.5rem,2vw, 4rem);
  }
}
.Escolha__genero {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(0.3rem,1vw,2rem);

  .Card {
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
  }
  .cards {
    width: clamp(4rem,9vw, 15rem);
    height: 8.5vh;
    background: rgb(18, 18, 19);
    border-radius: 0.7vw;
    border: solid 1px rgb(61, 58, 58);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      font-size: clamp(0.6rem,1vw, 3rem);
      font-weight: 400;
    }
  }
  .cards:active {
    transform: translateY(-3px);
  }
  .cardzinho {
    width: 7%;
    height: 80%;
    border-radius: 0.4vw;
    background: rgb(133, 27, 194);
    box-shadow: 0 0 10px blueviolet;
    border: solid 1px rgb(88, 88, 88);
  }
}
.cardzinho {
  border-radius: 0.8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  cursor: pointer;
}
.cardzinho:active {
  transform: translateY(-3px);
}
.Todos__jogos {
  width: 102%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(5, 16.5vw);
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  gap: 2vw;

  .cards__jogos {
    width: clamp(7rem,15vw,25rem);
    height: 40vh;
    background: rgb(15, 15, 20);
    border-radius: 1vw;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      height: 20vh;
    }
    
    a {
      color: white;
      text-decoration: none;
      background: blueviolet;
      padding: 0.4vw;
      border-radius: 0.3vw;
      cursor: pointer;
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 5;
    }
    a:active {
      transform: translateY(-3px);
    }
    
  }
  .cards__jogos:hover {
    transform: translateY(-3px);
    filter: drop-shadow(0 0 10px rgb(149, 35, 194));
  }
  h3{
      font-size: clamp(0.7rem,1.5vw, 2rem);
      padding: 0 0.2vw;

    }
  .informações__cards {
    width: 100%;
    height: 100%;
    padding: 1vw;
  }
}
@media(max-width:768px){


  .Todos__jogos{
    display: grid;
    grid-template-columns: repeat(4, clamp(7rem, 20.5vw,30rem));
  }

}
@media(max-width:600px){
  .Escolha__genero{
    height: 30vh;
display: grid;
grid-template-columns: repeat(4, 10vw);
gap: 0 clamp(2.5rem,5vw, 7rem)
    
  }
  .Card{
    width: 100%;
   height: 30vh;
    display: grid;
    grid-template-columns: repeat(5, 50vw);
  }
    .cardzinho{

    padding: 0 clamp(2.5rem,8vw, 10rem);
white-space: nowrap;
  
  }
  
}
@media(max-width:550px){
    .Todos__jogos{
    display: grid;
    width: 95%;
    grid-template-columns: repeat(3,  clamp(6.2rem,25.5vw,30rem));
  }
   .cards__jogos {
    width: clamp(2rem,5vw, 15rem);
    scale: 0.9;
  }

}
