* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: rgb(2, 2, 2);
  color: white;
overflow-x: hidden;
}
button {
  cursor: pointer;
}
button:active {
  transform: translateY(-3px);
}
.header {
  width: 100%;
  height: 7vh;
  background: rgb(8, 7, 7);
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .Super__header {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .Input__header {
    border: solid 1px rgb(31, 31, 31);
    background: rgb(19, 17, 17);
    border-radius: 0.7vw;
    height: 80%;
    padding: 0.3vw 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
      outline: none;
      background: none;
      border: none;
      color: white;
      width: 15vw;
    }
    img {
      background: none;
    }

    img:hover {
      background: rgb(59, 59, 59);
      border-radius: 50%;
    }
  }
  .nav {
    display: flex;
    gap: 2rem;
    a {
      color: white;
      text-decoration: none;
    }
  }
}
.mains {
  width: 100vw;
  height: 60vh;
  position: relative;
  margin-top: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.principais__jogos {
  width: 90%;
  height: 90%;
  position: relative;
  border-radius: 20px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }
}
.Conteudo__principal {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.158);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  position: relative;
  z-index: 10;

  button {
    padding: 0.7vw;
    border: solid rgb(32, 31, 31) 1px;
    background: rgb(8, 8, 8);
    color: white;
    border-radius: 0.4vw;
  }
  h2 {
    font-size: 3vw;
    width: 40vw;
  }
  .button1__principal {
    background: blueviolet;
    border: none;
  }
  .principal__descrissao {
    display: flex;
    gap: 2vw;
  }
  .destaque {
    background: rgba(74, 23, 121, 0.8);
    width: 15vw;
    border-radius: 1vw;
  }
  p {
    font-weight: 300;
  }
}
.MINI__titulo__genero {
  width: 100%;
  height: 5vh;
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;

  .Titulo__genero{
    width: 90%;

    h2{
        font-size: 1.5vw;
    }
  }
}
.Jogo__nome{
  width: 100%;
  height: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;

  .jogos__Sem__sessao{
    width: 90%;
    height: 100%;
  }
  h2{
    font-family: 1vw;
  }
}
.Escolha__genero {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .Card{
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
  }
  .cards{
    width: 10%;
    height: 85%;
    background: rgb(18, 18, 19);
    border-radius: 0.7vw;
    border: solid 1px rgb(61, 58, 58);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    
    p{
        font-size: 1vw;
        font-weight: 400;
    }
  }
  .cards:active{
    transform: translateY(-3px);
  }
  .cardzinho{
         width: 7%;
    height: 100%;
    background: rgb(130, 130, 255);  
  }
}
.cardzinho{
  border-radius: 0.8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  cursor: pointer;
}
.cardzinho:active{
  transform: translateY(-3px);
}
.Todos__jogos{
  width: 102%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(10, 7.5vw);
  align-items: center;
  justify-content: center;
  transition: 0.3s;
gap: 2vw;

  .cards__jogos{
    width: 15vw;
    height: 40vh;
    background: rgb(15, 15, 20);
    border-radius: 1vw;
    overflow: hidden;
    position: relative;
    

    img{
      width: 100%;
      height: 20vh;
    }
    a{
      color: white;
      text-decoration: none;
      background: blueviolet;
      padding: 0.4vw;
      border-radius: 0.3vw;
      cursor: pointer;
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 5;
    }
    a:active{
      transform: translateY(-3px);
    }
    h2{
      font-size: 2vw;
      color: red;
      background: blue;
    }
  }
  .cards__jogos:hover{
    transform: translateY(-3px);
    filter: drop-shadow(0 0 10px rgb(149, 35, 194));
  }
  .informações__cards{

    width: 100%;
    height: 100%;
    padding: 1vw;
  }
}
